# ===============================
# 🧩 공통 / 시스템 관련
# ===============================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# ===============================
# 🧱 IDE 관련 (IntelliJ / Android Studio / VSCode)
# ===============================
*.iml
*.ipr
*.iws
.idea/
.vscode/*
!.vscode/settings.json

# ===============================
# 🐦 Flutter / Dart / Pub 관련
# ===============================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# ===============================
# 🌐 Web 관련
# ===============================
lib/generated_plugin_registrant.dart

# ===============================
# 🧩 심볼 / 난독화 관련
# ===============================
app.*.symbols
app.*.map.json

# ===============================
# 🤖 Android 관련
# ===============================
/android/app/debug
/android/app/profile
/android/app/release
/local.properties

# ===============================
# 🍎 iOS 관련
# ===============================
/ios/Pods/
/ios/Podfile.lock
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/AppFrameworkInfo.plist
/ios/Flutter/flutter_export_environment.sh
/ios/.symlinks/
/ios/Flutter/.last_build_id
/ios/build/

# ===============================
# 🧰 환경 변수 / 시크릿 키 관련
# ===============================
.env
.env.*
firebase_options.dart

# ===============================
# 🧪 Flutter DevTools 관련
# ===============================
devtools_options.yaml

# ===============================
# 🧱 FVM 관련
# ===============================
.fvm/
.flutter-version
